body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.appFlex {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.navBarFlex {
  display: flex;
  background-color: red;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
}

.navBarH3 {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.navBarIcon {
  margin-right: 5px;
  font-size: 20px;
}

.cardFlex {
  display: flex;
  box-shadow: 0px 0px 5px lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  border-radius: 9px;
  margin-bottom: 10px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 15px;
  padding-right: 45px;
  justify-content: center;
}

.cardImg {
  width: 275px;
  border-radius: 7px;
}

.cardLocationFlex {
  color: red;
  display: flex;
  align-items: center;
  height: 10px;
}

.cardLocationIcon {
  margin-right: 1px;
  font-size: 17px;
}

.cardLocationTxt {
  font-size: 12px;
  font-weight: bold;
}

.cardLocationUrl {
  font-size: 12px;
  margin-left: 10px;
  color: lightgrey;
}

.cardDescription {
  color: grey;
  font-size: 13px;
}

.cardTitle {
  margin-top: 10px;
}
